<div class="wrapper">
  <div class="sectors logo-container">
    <img class="logo" src="assets/MoneySpent.png" alt="">
  </div>
  <div class="sectors main-button-container">
    <button class="main-button" routerLink="/my-wallet">My wallet</button>
    <button class="main-button" routerLink="/my-groups">My groups</button>
    <button class="main-button" routerLink="/statistics">My statistic</button>
  </div>
  <div class="sectors button-navigation-container">
    <div class="user-name">User Name</div>
    <button class="button-navigation">
      <img class="nav-logo photo" src="assets/avatar.png" alt="">
    </button>
    <button class="button-navigation">
      <img class="nav-logo" src="assets/settings.png" alt="">
    </button>
    <button class="button-navigation">
      <img class="nav-logo" src="../../../assets/logout.png" alt="">
    </button>
  </div>
</div>
