@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');

$font: "K2D", sans-serif;

body, html {
  padding: 0;
  margin: 0;
  font-family: $font;
}

$dark-light-color: antiquewhite;
$dark-light-pictures: invert(88%) sepia(9%) saturate(382%) hue-rotate(355deg) brightness(102%) contrast(102%);
$dark-dark-color: black;
$dark-navbar-color: #464646;
$dark-table-color: #5C5C5C;
$dark-main-color: #2F2F2F;
$dark-input-color: #C4C4C4;
$dark-input-opacity-40-color: #C4C4C440;

mat-dialog-container {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $dark-light-color !important;
  height: 150px !important;
  width: 400px !important;
  border-radius: 20px !important;
}

